<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597886725311-a1hmjm473ei9fu6s283alrmh7m6tg84n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597886725311-a1hmjm473ei9fu6s283alrmh7m6tg84n</string>
	<key>API_KEY</key>
	<string>AIzaSyDjFJaqrjDBZ0ldBFP-39tDumDTUQT_M9s</string>
	<key>GCM_SENDER_ID</key>
	<string>597886725311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yugasamuel.OKLock</string>
	<key>PROJECT_ID</key>
	<string>oklock-9474e</string>
	<key>STORAGE_BUCKET</key>
	<string>oklock-9474e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597886725311:ios:360695ae3f651e1f046a0a</string>
</dict>
</plist>